{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "linebreak-style": "off",
    "spaced-comment": "off",
    "require-jsdoc": "off",
    "indent": [
      "error",
      4
    ],
    "object-curly-spacing": "off",
    "space-before-blocks": "off",
    "eol-last": "off",
    "curly": "off",
    "no-trailing-spaces": "off",
    "operator-linebreak": "off",
    "max-len": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}
