//height
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$full-height: 100%;

$dashboard-header-height: 64px;

$row-height: 24px;

//colors
$border-color: #c0c0c0;
$blue-color: #3c74ff;

$info-cell-width: 40px;
$cell-width: 120px;

